body {
    margin: 0;
    font-size: 28px;
}

.header {
    left: 60px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: left;
    font-family: 'Century Gothic';
}

#navbar {
    overflow: hidden;
    background-color: #27323A;
    font-family: 'Century Gothic';
    width: 100%;
}

#open_menu {
    padding: 10px 14px;
    background-color: #27323A;
    color: white;
    display: none;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Century Gothic';
}

#navbar a:hover {
    background-color: #313F49;
}

#navbar a.active {
    background-color: #6699FF;
    color: white;
    height: 52px;
}

.content {
    padding: 16px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Century Gothic';
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #313F49;
    min-width: 120px;
    box-shadow: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #313F49;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.droppf-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.droppf-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.droppf-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 1vw;
    cursor: pointer;
    font-family: 'Century Gothic';
    border-radius: 6px;
}

.buttont {
    border: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    font-family: 'Century Gothic';
    border-radius: 6px;
}

.success {
    background-color: #4CAF50;
}


/* Green */

.success:hover {
    background-color: #46a049;
}

.info {
    background-color: #2196F3;
}


/* Blue */

.info:hover {
    background: #0b7dda;
}

.warning {
    background-color: #ff9800;
}


/* Orange */

.warning:hover {
    background: #e68a00;
}

.danger {
    background-color: #f44336;
}


/* Red */

.danger:hover {
    background: #da190b;
}

.default {
    background-color: #e7e7e7;
    color: black;
}


/* Gray */

.default:hover {
    background: #ddd;
}

@media only screen and (max-width: 500px) {
    #navbar {
        display: none;
    }
    #open_menu {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    #navbar.responsive {
        display: block;
        position: relative;
        text-align: left;
        float: none;
    }
    #navbar.responsive a {
        display: block;
        float: none;
        text-align: left;
        overflow: hidden;
    }
    #navbar.responsive a:first-child {
        width: 15%;
    }
    #navbar.responsive a img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .dropdown {
        display: block;
        float: none;
        position: relative;
        text-align: left;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        float: none;
        position: relative;
        text-align: left;
    }
}